div#filetree.scrollable
  each val, key in tagsandfiles
    ul.ft_l1
      li.ft_l1_entry
        span #{key}
        ul.ft_l2
          each doc in val
            li(class='ft_l2_entry ftype_16_' + doc.type)
              span #{doc.name}