block menu
  div#menu
    div#menu_left
      include fileupload
      
      ul
        each item in menuitems
          li(class='menuitem') 
            a(href='/'+item)= item
    div#menu_right
      include search