block menu
  div#menu
    div#menu_left
      include fileupload
      ul
        each url,item in menuitems
          li(class='menuitem') 
            a(href='/'+url)= item
    div#menu_right
      