head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/javascripts/jquery-1.8.3.min.js')
    script(src='/javascripts/filetree.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/sockets.js')